@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css");

body {
  font-family: "LXGW WenKai", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

.math.math-inline {
  display: inline-block;
  /* vertical-align: middle; */
}

.math.math-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}