$aside-padding-x: 10px;

.dataItem {
  padding: 12px $aside-padding-x;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  font-size: 16px;

  @media (max-width: 768px) {
    &:first-child {
      border: none;
    }
  }

  label {
    font-weight: bold;
    margin-right: 6px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 6px $aside-padding-x;
  }
}

.splitView {
  display: flex;
  gap: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.aside {
  min-width: 240px;
  width: 240px;
  height: max-content;
  position: sticky;
  top: calc(var(--height-nav) + 16px);

  @media (max-width: 768px) {
    width: auto;
    position: static;
  }

  .basics {
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      flex-direction: row;
    }

    .title {
      font-size: 56px;
      text-align: right;
      padding: 20px $aside-padding-x;
      margin: 0;

      @media (max-width: 768px) {
        font-size: 48px;
        text-align: left;
        padding: 0;
        display: flex;
        align-items: center;
        flex: 1;
      }
    }
  }
}

.content {
  flex: 1;

  hr {
    border-color: var(--color-border);
  }

  img {
    max-width: 100%;
  }
}
